In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("mumbai_houses_task.csv")

In [7]:
data.head(10)

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,New Property,2.0,NaN,2.0,Flat
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,New Property,0.0,Unfurnished,0.0,Flat
5,13000000.0,630.0,19.148058,72.937725,2.0,2.0,0.0,NaN,New Property,0.0,Unfurnished,0.0,Flat
6,20700000.0,1188.0,19.154919,72.843566,2.0,2.0,2.0,NaN,New Property,2.0,Semi-Furnished,2.0,Flat
7,22900000.0,968.0,19.147269,72.848351,3.0,3.0,0.0,NaN,New Property,0.0,Unfurnished,0.0,Flat
8,17000000.0,820.0,19.015128,72.858064,2.0,2.0,0.0,NaN,New Property,0.0,Unfurnished,0.0,Flat
9,81000000.0,3260.0,19.001640,72.826532,3.0,3.0,3.0,Ready to Move,Resale,3.0,NaN,3.0,Flat

In [11]:
for col in list(data.columns):
    if col ==